<% provide(:title, "About") %>
    <div class="about-section">
        
            <div class="about-img">    
            <%= image_tag("bookshelfcolour.png", :size => "200x200") %>
            </div>
        <br><br>
        
            <h3>The Reading Nook is a small, independent bookstore selling 
            contemporary Irish literature. We serve a niche but vibrant target 
            market — fans of new Irish fiction, non-fiction, poetry and periodicals
            from self-published authors and smaller publishing houses and journals.
            </h3><br>
            <h3>Where normally these works are purchased directly from the individual 
            author/publisher’s website, or sometimes just in person at a physical 
            independent bookstore, the reading nook gathers this writing into one 
            convenient online store where it can be ordered easily for home delivery.
            </h3><br><br>
            <div class="text-center">
            <a class="btn btn-lg btn-success" style="color: white;" href="/items">
                See our full catalogue</a>
            
    </div>