<!--navbar cart display -->
    <%if !session[:cart].blank? %>
      <% cart = session[:cart]%>
      <% if !cart.empty? %>
        <% total = 0 %>
        <% totalquantity = 0 %>
        <% cart.each do |id, quantity| %>
          <% if Item.exists?(id)
            item = Item.find_by_id(id)%>
            <% number_to_currency(item.price, :unit =>"€") %>
            <% number_to_currency(quantity * item.price, :unit =>"€") %>
            <% total += quantity * item.price %> 
            <% totalquantity += quantity %>
          <% end %>
      <%end%>
      <a href="/cart" class="btn btn-default btn-m">
        <span class="glyphicon glyphicon-shopping-cart"></span> </span><span class="badge"><%= totalquantity %></span><p><%= number_to_currency(total, :unit => "€") %> </p></a>
    <% end %>
  <% else %>
    <a href="/cart" class="btn btn-default btn-m">
     <span class="glyphicon glyphicon-shopping-cart"></span> </span><span class="badge">0</span><p><%= number_to_currency(0, :unit => "€") %> </p></a>
  <% end %>
<!-- end of navbar cart display -->