<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <!-- Identify your business so that you can collect the payments. -->
    <!-- for real account -->
    <!--<input type="hidden" name="business" value="ncigroupproject2020@gmail.com">-->
                          
    <!-- for testing for business account -->
    <!--<input type="hidden" name="business" value="xqa2h1369057@business.example.com">-->
                          
    <!-- for testing for personal account -->
    <input type="hidden" name="business" value="sb-47dzsc1365799@personal.example.com">
                          
                        
    <!-- Specify a Buy Now button. -->
    <input type="hidden" name="cmd" value="_xclick">
                        
    <!-- Specify details about the item that buyers will purchase. -->
    <input type="hidden" name="item_name" value="The Reading Nook, order number # <%= @order.id %>">
    <input type="hidden" name="amount" value="<%= @total%>">
    <input type="hidden" name="currency_code" value="EUR">
                        
    <!-- Display the payment button. -->
    <input type="image" name="submit" border="0" style="width:172px; height:34px; border:none;"
        src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/44_Yellow_CheckOut_Pill_Button.png" alt="Check out with PayPal">
    <!-- returning to the aws -->
    <!--<input type="hidden" name="return" value="https://da34ea629657460dafa04477d8c8fee0.vfs.cloud9.us-east-1.amazonaws.com/orders/payment_confirmation/<%= @order.id %>" >-->
    <!-- returning to the heroku -->
    <input type="hidden" name="return" value="https://radiant-castle-78640.herokuapp.com/orders/payment_confirmation/<%= @order.id %>" >
</form>

