<form class="navbar-form navbar-right" action="/search/">
    <div class="form-group">
        <input type="text" class="form-control" id="q" name="q" placeholder="Search by item's title">
    </div>
    <button type="submit" class="btn btn-success" value="search">Search</button>
</form>